In [1]:
# import the necessary Libraries
from pyspark.sql import SparkSession
from pyspark.sql import DataFrameWriter
from pyspark.sql.functions import monotonically_increasing_id
import os
import psycopg2

In [2]:
# set java home
os.environ['JAVA_HOME'] = 'C:\java8'

In [3]:
# INITIALISE MY SPARK SESSION
spark = SparkSession.builder \
        .appName("Nuga Bank ETL") \
        .master("local[*]") \
        .config(
            "spark.jars", 
            r"C:\Users\USER\Desktop\Data_Engineering\pyspark\Latest_NugaBank_ETL_Case_Study\postgresql-42.7.8.jar") \
        .getOrCreate()
        
print(spark.version)

3.5.0

In [4]:
spark

In [5]:
# Extract this historical data into spark dataframe
df = spark.read.csv(r'C:\Users\USER\Desktop\Data_Engineering\pyspark\Latest_NugaBank_ETL_Case_Study\dataset\raw\ziko_logistics_data.csv', header=True, inferSchema=True)

In [6]:
df.show(5)

+--------------+--------------------+-----------+----------+--------+------------------+-----------------+-------------+-------------+--------------+--------------+---------+---------------+---------------------+-------------+-------------+-------------+-------+------+-------+-------------+---------------+--------------------+--------------------+------------------+
|Transaction_ID|                Date|Customer_ID|Product_ID|Quantity|        Unit_Price|       Total_Cost|Discount_Rate|Sales_Channel|Order_Priority|Warehouse_Code|Ship_Mode|Delivery_Status|Customer_Satisfaction|Item_Returned|Return_Reason| Payment_Type|Taxable|Region|Country|Customer_Name| Customer_Phone|      Customer_Email|    Customer_Address|Product_List_Title|
+--------------+--------------------+-----------+----------+--------+------------------+-----------------+-------------+-------------+--------------+--------------+---------+---------------+---------------------+-------------+-------------+-------------+-------+------+-------+-------------+---------------+--------------------+--------------------+------------------+
|           200|2020-01-01 20:32:...|       1086|       536|       3|120.43682132331526| 8265.37454940804|          0.2|       Online|          High|          WH-3|    2-Day|      Cancelled|              Neutral|        false|   Wrong Item|Wire Transfer|  false|  West| Canada| Customer 200|+1-652-572-9306|customer.200.78@e...|275 Second St, Ph...|        Product 53|
|           321|2020-01-02 06:55:...|       1078|       523|       6| 475.7249935818949|  4047.8504787607|         NULL|     Reseller|      Critical|          WH-1|Overnight|      Backorder|            Satisfied|         true|      Damaged|       PayPal|   true| South| Mexico| Customer 321|+1-311-186-5760|customer.321.13@s...|478 Third St, New...|        Product 33|
|           989|2020-01-06 08:12:...|       1077|       535|       3|146.40055601470172|             NULL|         0.05|       Direct|      Critical|          WH-1|Overnight|        Pending|          Unsatisfied|         true|      Damaged|       PayPal|   true|  West| Canada| Customer 989|+1-922-606-9032|customer.989.99@e...|843 Second St, Ph...|         Product 6|
|           682|2020-01-07 22:03:...|       1027|       546|       6|19.373193554270635|8194.281992877543|         NULL|     Reseller|        Medium|          WH-1|  Express|        Pending|          Unsatisfied|        false|   Wrong Item|         Cash|   true| South| Canada| Customer 682|+1-237-853-5808|customer.682.66@d...|153 Main St, Phoe...|        Product 68|
|           484|2020-01-07 07:08:...|       1052|       556|       8|193.22131303627867| 8331.32924886882|          0.2|       Direct|           Low|          WH-2|    2-Day|      Delivered|            Satisfied|         true|         Late|         Cash|  false| South| Mexico| Customer 484|+1-986-360-9109|customer.484.3@sa...|264 Second St, Ne...|        Product 89|
+--------------+--------------------+-----------+----------+--------+------------------+-----------------+-------------+-------------+--------------+--------------+---------+---------------+---------------------+-------------+-------------+-------------+-------+------+-------+-------------+---------------+--------------------+--------------------+------------------+
only showing top 5 rows

In [7]:
df.printSchema()

root
 |-- Transaction_ID: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Total_Cost: double (nullable = true)
 |-- Discount_Rate: double (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Warehouse_Code: string (nullable = true)
 |-- Ship_Mode: string (nullable = true)
 |-- Delivery_Status: string (nullable = true)
 |-- Customer_Satisfaction: string (nullable = true)
 |-- Item_Returned: boolean (nullable = true)
 |-- Return_Reason: string (nullable = true)
 |-- Payment_Type: string (nullable = true)
 |-- Taxable: boolean (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Phone: string (nullable = true)
 |-- Customer_Email: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Product_List_Title: string (nullable = true)

### Data Cleaning and Transformation Phase

In [8]:
# Data cleaning (Checking for missing values)
for column in df.columns:
    print(column, 'Nulls: ', df.filter(df[column].isNull()).count())

Transaction_ID Nulls:  0
Date Nulls:  0
Customer_ID Nulls:  0
Product_ID Nulls:  0
Quantity Nulls:  0
Unit_Price Nulls:  101
Total_Cost Nulls:  100
Discount_Rate Nulls:  291
Sales_Channel Nulls:  0
Order_Priority Nulls:  0
Warehouse_Code Nulls:  0
Ship_Mode Nulls:  0
Delivery_Status Nulls:  0
Customer_Satisfaction Nulls:  0
Item_Returned Nulls:  0
Return_Reason Nulls:  101
Payment_Type Nulls:  0
Taxable Nulls:  0
Region Nulls:  0
Country Nulls:  0
Customer_Name Nulls:  0
Customer_Phone Nulls:  0
Customer_Email Nulls:  0
Customer_Address Nulls:  0
Product_List_Title Nulls:  0

In [9]:
# fill up the missing values
df_clean = df.fillna({
    'Unit_Price' : 0.0,
    'Total_Cost' : 0.0,
    'Discount_Rate' : 0.0,
    'Return_Reason' : 'Unknown'
})

In [10]:
# Drop the missing value in the Last_Updated column, but it didn't exist so it will show error
# df_clean = df_clean.na.drop(subset=['Last_Updated'])

In [11]:
# Data cleaning (Checking for missing values)
for column in df_clean.columns:
    print(column, 'Nulls: ', df_clean.filter(df_clean[column].isNull()).count())

Transaction_ID Nulls:  0
Date Nulls:  0
Customer_ID Nulls:  0
Product_ID Nulls:  0
Quantity Nulls:  0
Unit_Price Nulls:  0
Total_Cost Nulls:  0
Discount_Rate Nulls:  0
Sales_Channel Nulls:  0
Order_Priority Nulls:  0
Warehouse_Code Nulls:  0
Ship_Mode Nulls:  0
Delivery_Status Nulls:  0
Customer_Satisfaction Nulls:  0
Item_Returned Nulls:  0
Return_Reason Nulls:  0
Payment_Type Nulls:  0
Taxable Nulls:  0
Region Nulls:  0
Country Nulls:  0
Customer_Name Nulls:  0
Customer_Phone Nulls:  0
Customer_Email Nulls:  0
Customer_Address Nulls:  0
Product_List_Title Nulls:  0

In [12]:
df.columns

['Transaction_ID',
 'Date',
 'Customer_ID',
 'Product_ID',
 'Quantity',
 'Unit_Price',
 'Total_Cost',
 'Discount_Rate',
 'Sales_Channel',
 'Order_Priority',
 'Warehouse_Code',
 'Ship_Mode',
 'Delivery_Status',
 'Customer_Satisfaction',
 'Item_Returned',
 'Return_Reason',
 'Payment_Type',
 'Taxable',
 'Region',
 'Country',
 'Customer_Name',
 'Customer_Phone',
 'Customer_Email',
 'Customer_Address',
 'Product_List_Title']

### Data Transformation

In [194]:
# Customer Table
customer = df_clean.select('Region', 'Country', 'Customer_Name', 'Customer_Phone', 'Customer_Email', 'Customer_Address') \
                    .withColumn('Customer_ID', monotonically_increasing_id()) \
                    .select('Customer_ID', 'Region', 'Country', 'Customer_Name', 'Customer_Phone', 'Customer_Email', 'Customer_Address')

In [14]:
customer.show(5)

+-----------+------+-------+-------------+---------------+--------------------+--------------------+
|Customer_ID|Region|Country|Customer_Name| Customer_Phone|      Customer_Email|    Customer_Address|
+-----------+------+-------+-------------+---------------+--------------------+--------------------+
|          0|  West| Canada| Customer 200|+1-652-572-9306|customer.200.78@e...|275 Second St, Ph...|
|          1| South| Mexico| Customer 321|+1-311-186-5760|customer.321.13@s...|478 Third St, New...|
|          2|  West| Canada| Customer 989|+1-922-606-9032|customer.989.99@e...|843 Second St, Ph...|
|          3| South| Canada| Customer 682|+1-237-853-5808|customer.682.66@d...|153 Main St, Phoe...|
|          4| South| Mexico| Customer 484|+1-986-360-9109|customer.484.3@sa...|264 Second St, Ne...|
+-----------+------+-------+-------------+---------------+--------------------+--------------------+
only showing top 5 rows

In [208]:
# Shipping Table
shipping = df_clean.select('Warehouse_Code', 'Ship_Mode', 'Delivery_Status', 'Customer_Satisfaction', 'Item_Returned', 'Return_Reason') \
                    .withColumn('Shipping_ID', monotonically_increasing_id()) \
                    .select('Shipping_ID', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status', 'Customer_Satisfaction', 'Item_Returned', 'Return_Reason')

In [209]:
shipping.show(5)

+-----------+--------------+---------+---------------+---------------------+-------------+-------------+
|Shipping_ID|Warehouse_Code|Ship_Mode|Delivery_Status|Customer_Satisfaction|Item_Returned|Return_Reason|
+-----------+--------------+---------+---------------+---------------------+-------------+-------------+
|          0|          WH-3|    2-Day|      Cancelled|              Neutral|        false|   Wrong Item|
|          1|          WH-1|Overnight|      Backorder|            Satisfied|         true|      Damaged|
|          2|          WH-1|Overnight|        Pending|          Unsatisfied|         true|      Damaged|
|          3|          WH-1|  Express|        Pending|          Unsatisfied|        false|   Wrong Item|
|          4|          WH-2|    2-Day|      Delivered|            Satisfied|         true|         Late|
+-----------+--------------+---------+---------------+---------------------+-------------+-------------+
only showing top 5 rows

In [197]:
# Product Table
product = df_clean.select('Product_List_Title') \
                    .withColumn('Product_ID', monotonically_increasing_id()) \
                    .select('Product_ID', 'Product_List_Title')

In [198]:
product.show(5)

+----------+------------------+
|Product_ID|Product_List_Title|
+----------+------------------+
|         0|        Product 53|
|         1|        Product 33|
|         2|         Product 6|
|         3|        Product 68|
|         4|        Product 89|
+----------+------------------+
only showing top 5 rows

In [199]:
transaction = df_clean.select('Date', 'Quantity', 'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel') \
                        .withColumn('Transaction_ID', monotonically_increasing_id()) \
                        .select('Transaction_ID', 'Date','Quantity', 'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel')

In [200]:
transaction.show(5)

+--------------+--------------------+--------+------------------+-----------------+-------------+-------------+
|Transaction_ID|                Date|Quantity|        Unit_Price|       Total_Cost|Discount_Rate|Sales_Channel|
+--------------+--------------------+--------+------------------+-----------------+-------------+-------------+
|             0|2020-01-01 20:32:...|       3|120.43682132331526| 8265.37454940804|          0.2|       Online|
|             1|2020-01-02 06:55:...|       6| 475.7249935818949|  4047.8504787607|          0.0|     Reseller|
|             2|2020-01-06 08:12:...|       3|146.40055601470172|              0.0|         0.05|       Direct|
|             3|2020-01-07 22:03:...|       6|19.373193554270635|8194.281992877543|          0.0|     Reseller|
|             4|2020-01-07 07:08:...|       8|193.22131303627867| 8331.32924886882|          0.2|       Direct|
+--------------+--------------------+--------+------------------+-----------------+-------------+-------------+
only showing top 5 rows

In [255]:
# # Transaction fact table
# transaction_fact = df_clean.join(customer, ['Region', 'Country', 'Customer_Name', 'Customer_Phone', 'Customer_Email', 'Customer_Address'], 'left') \
#                             .join(shipping, ['Warehouse_Code', 'Ship_Mode', 'Delivery_Status', 'Customer_Satisfaction', 'Item_Returned', 'Return_Reason'], 'left' ) \
#                             .join(product, ['Product_List_Title'], 'left') \
#                             .select('transaction_id', 'Date', 'Quantity', 'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel')
                            

# from pyspark.sql import functions as F

# df = df_clean.alias("df")
# c  = customer.alias("c")
# p  = product.alias("p")
# s  = shipping.alias("s")

# transaction_fact = (
#     df
#     df
#     .join(c, on=F.col("df.Customer_ID") == F.col("c.Customer_ID"), how="left")
#     # .join(c, on="Customer_ID", how="left")
#     .join(p, on="Product_ID", how="left")
#     .join(s, on="Shipping_ID", how="left")
#     .select(
#         F.col("df.Transaction_ID"),
#         F.col("df.Customer_ID"),
#         F.col("df.Product_ID"),
#         F.col("df.Shipping_ID"),
#         F.col("df.Date"),
#         F.col("df.Quantity"),
#         F.col("df.Unit_Price"),
#         F.col("df.Total_Cost"),
#         F.col("df.Discount_Rate"),
#         F.col("df.Sales_Channel")
#     )
# )




df = df_clean.alias("df")
c  = customer.alias("c")
p  = product.alias("p")
s  = shipping.alias("s")

transaction_fact = (
    df
    .join(c, df["Customer_ID"] == c["Customer_ID"], "left")
    .join(p, df["Product_ID"] == p["Product_ID"], "left")

    .select(
        [df[col] for col in ["Transaction_ID", "Customer_ID", "Product_ID", 
                             "Date", "Quantity", "Unit_Price", "Total_Cost", "Discount_Rate", "Sales_Channel"]]
    )
)



# transaction_fact.show(50, truncate=False)

In [256]:
from pyspark.sql.functions import col

transaction_fact_for_db = transaction_fact.select(
    col("Transaction_ID").alias("transaction_id"),
    col("Customer_ID").alias("customer_id"),
    col("Product_ID").alias("product_id"),
    col("Date"),
    col("Quantity").alias("quantity"),
    col("Unit_Price").alias("unit_price"),
    col("Total_Cost").alias("total_cost"),
    col("Discount_Rate").alias("discount_rate"),
    col("Sales_Channel").alias("sales_channel")
)

In [257]:
transaction_fact_for_db.show(50)

+--------------+-----------+----------+--------------------+--------+------------------+------------------+-------------+-------------+
|transaction_id|customer_id|product_id|                Date|quantity|        unit_price|        total_cost|discount_rate|sales_channel|
+--------------+-----------+----------+--------------------+--------+------------------+------------------+-------------+-------------+
|           200|       1086|       536|2020-01-01 20:32:...|       3|120.43682132331526|  8265.37454940804|          0.2|       Online|
|           321|       1078|       523|2020-01-02 06:55:...|       6| 475.7249935818949|   4047.8504787607|          0.0|     Reseller|
|           989|       1077|       535|2020-01-06 08:12:...|       3|146.40055601470172|               0.0|         0.05|       Direct|
|           682|       1027|       546|2020-01-07 22:03:...|       6|19.373193554270635| 8194.281992877543|          0.0|     Reseller|
|           484|       1052|       556|2020-01-07 07:08:...|       8|193.22131303627867|  8331.32924886882|          0.2|       Direct|
|           483|       1074|       549|2020-01-01 21:11:...|       8| 37.72697151189065| 6894.375243656562|         0.05|     Reseller|
|           757|       1061|       547|2020-01-01 21:11:...|       7|193.97977494858517| 4611.329101247279|         0.15|       Direct|
|           985|       1040|       542|2020-01-06 00:25:...|       1| 486.8076309770262| 7623.669347238553|          0.0|       Direct|
|           795|       1014|       533|2020-01-08 03:53:...|       1| 455.0319594631582| 6194.880826757808|          0.0|       Direct|
|           459|       1040|       529|2020-01-06 22:16:...|       8|   339.62446716236| 5933.960843694132|          0.0|      Partner|
|           826|       1039|       521|2020-01-02 04:32:...|       1| 142.0608125232136| 4697.420195618569|          0.0|     Reseller|
|           116|       1080|       535|2020-01-07 12:32:...|       8|426.67052054874875| 5350.517195865819|          0.0|       Direct|
|           417|       1076|       555|2020-01-06 05:11:...|       4|144.29507877767358| 980.9134865562041|          0.0|      Partner|
|           367|       1097|       524|2020-01-08 22:16:...|       9|159.05737262177763| 5943.900905880649|          0.1|      Partner|
|           233|       1070|       508|2020-01-05 13:11:...|       6| 277.8227995958245| 6757.282871927786|         0.15|     Reseller|
|           191|       1099|       546|2020-01-05 23:34:...|       9|38.343780229108695| 4743.788008955943|          0.0|      Partner|
|           891|       1056|       523|2020-01-06 22:29:...|       1| 380.7977818635983| 5013.353792234297|         0.05|       Direct|
|           770|       1021|       510|2020-01-05 17:17:...|       4| 331.7974475135879|  9438.36161081244|          0.0|       Direct|
|           387|       1036|       515|2020-01-07 01:17:...|       2| 379.5816472442196| 7036.432792204224|          0.1|       Online|
|           641|       1099|       549|2020-01-02 09:04:...|       9|               0.0|6980.8210479234385|         0.05|       Direct|
|           278|       1020|       542|2020-01-02 00:12:...|       6|184.94437854530597| 5034.828782162813|          0.2|      Partner|
|           649|       1096|       535|2020-01-02 23:21:...|       9|160.81995752356536| 7657.985051266169|          0.0|      Partner|
|           599|       1046|       548|2020-01-06 21:50:...|       2|191.84533983076264|3755.9437915651183|          0.1|     Reseller|
|           516|       1026|       520|2020-01-08 01:30:...|       1| 47.71993886183348| 881.3191613109819|          0.0|     Reseller|
|           871|       1018|       521|2020-01-03 06:16:...|       4|               0.0| 6869.126171070717|          0.2|      Partner|
|            46|       1062|       531|2020-01-09 18:48:...|       9| 344.4824383994672|  7743.24610741125|          0.2|      Partner|
|           481|       1053|       537|2020-01-02 14:55:...|       5|345.86750277873176| 6887.646511271185|         0.05|       Direct|
|           671|       1100|       534|2020-01-07 19:40:...|       8| 97.83409531224757|5671.2764325260505|          0.0|     Reseller|
|           744|       1025|       542|2020-01-04 09:04:...|       3| 47.09286638179586| 6154.682460834315|         0.05|       Direct|
|           375|       1006|       524|2020-01-02 10:22:...|       8| 373.5292002097704| 7419.523116226637|         0.05|       Direct|
|           717|       1054|       528|2020-01-01 02:22:...|       8|202.01109286213273|  3869.92128893702|          0.1|      Partner|
|           136|       1005|       544|2020-01-05 16:25:...|       1|38.465056519371394| 4107.639467733516|         0.15|      Partner|
|           166|       1036|       516|2020-01-08 05:50:...|       8|               0.0|3135.9144573870635|          0.1|       Online|
|           651|       1081|       546|2020-01-01 09:56:...|       7|476.87935833122793|               0.0|         0.15|     Reseller|
|           779|       1012|       526|2020-01-06 08:38:...|       3| 278.7253898668457| 6016.129646141524|         0.05|     Reseller|
|           902|       1004|       531|2020-01-02 16:51:...|       3| 497.8592436544529| 4293.659511892614|         0.15|       Online|
|           228|       1070|       525|2020-01-04 01:17:...|       6|343.01396304020284|1607.5392082791188|          0.2|      Partner|
|            34|       1074|       529|2020-01-03 19:40:...|       6|323.83326066616354|4028.9389949315796|         0.15|     Reseller|
|           612|       1007|       538|2020-01-02 03:14:...|       6|               0.0|3887.6636718689533|          0.1|       Direct|
|           234|       1070|       511|2020-01-04 03:01:...|       3|222.07984108263994|  9349.77168594007|          0.0|     Reseller|
|            50|       1092|       545|2020-01-07 04:19:...|       3|               0.0| 2167.170460122895|          0.0|       Online|
|             8|       1085|       536|2020-01-01 04:19:...|       4| 42.34482362871837| 5852.379462596614|         0.05|      Partner|
|           330|       1064|       546|2020-01-06 22:29:...|       5| 473.7636914436987| 2226.899238564938|         0.15|      Partner|
|           822|       1040|       525|2020-01-09 09:56:...|       8| 139.3903724999222|               0.0|          0.2|       Online|
|           804|       1082|       533|2020-01-08 23:08:...|       7| 361.0345848594685|   3854.4774449147|         0.05|       Online|
|           875|       1048|       550|2020-01-08 21:11:...|       4|163.26121471307349| 4446.708505624851|         0.05|     Reseller|
|           932|       1003|       501|2020-01-04 14:42:...|       9|352.82338911483964|3876.6737049585868|         0.05|      Partner|
|           336|       1011|       553| 2020-01-09 16:00:00|       6|110.29325343806914| 8853.637048945504|          0.2|      Partner|
|           881|       1049|       522|2020-01-05 18:35:...|       9|383.52828600547036|               0.0|          0.2|      Partner|
|           322|       1075|       512|2020-01-06 11:27:...|       1|294.99492356470483| 2925.695550750819|          0.0|     Reseller|
+--------------+-----------+----------+--------------------+--------+------------------+------------------+-------------+-------------+
only showing top 50 rows

### Troubleshoot Transaction fact table for null values

In [282]:
# Troubleshooting:  PROVE it (run this now) // show how many rows that is null the transaction_date column
from pyspark.sql.functions import col

transaction_fact.select(
    col("Transaction_ID"),
    col("Date")
).where(col("Date").isNull()).show(5)

+--------------+----+
|Transaction_ID|Date|
+--------------+----+
+--------------+----+

In [283]:
# BEST PRACTICE): DROP bad rows
# transaction has no date the one row is null so I'm dropping the very row

# transaction_fact_clean = transaction_fact.filter(col("Date").isNotNull())

transaction_fact_for_db = transaction_fact_for_db.na.drop(subset=["Date"])


# Alternatively, I can fill the role if business permits it:
# from pyspark.sql.functions import lit

# transaction_fact_clean = transaction_fact.withColumn(
#     "Date",
#     col("Date").otherwise(lit("1970-01-01"))
# )

In [284]:
# VERIFY before writing (mandatory) (Checking if the null column still exist)
transaction_fact_for_db.select("Date") \
    .where(col("Date").isNull()) \
    .count()

0

### Data Loading

In [271]:
# Connection
def get_db_connection():
    connection = psycopg2.connect(
        host='localhost',
        database = 'nuga_bank_db',
        user= 'postgres',
        password='password'
    )
    return connection

#connect to sql database
# conn = get_db_connection()

In [275]:
# Create a function to create tables
def create_tables():
    conn = get_db_connection()
    cursor = conn.cursor()
    create_table_query = '''
                        DROP TABLE IF EXISTS customer;
                        DROP TABLE IF EXISTS product;
                        DROP TABLE IF EXISTS shipping;
                        DROP TABLE IF EXISTS transaction_fact;

                        CREATE TABLE customer (
                            Customer_id BIGINT PRIMARY KEY,
                            Region VARCHAR(100),
                            Country VARCHAR(100),
                            Customer_Name VARCHAR(200),
                            Customer_Phone VARCHAR(50),
                            Customer_Email VARCHAR(200),
                            Customer_Address VARCHAR(1000)

                        );

                        CREATE TABLE product (
                            product_id BIGINT PRIMARY KEY,
                            Product_List_Title VARCHAR(1000)
                        );

                        CREATE TABLE shipping (
                            shipping_id BIGINT PRIMARY KEY,
                            Warehouse_Code VARCHAR(200),
                            Ship_Mode VARCHAR (200),
                            Delivery_Status VARCHAR(200),
                            Customer_Satisfaction VARCHAR(200),
                            Item_Returned BOOLEAN,
                            Return_Reason TEXT

                        );

                        CREATE TABLE transaction_fact(
                            Transaction_ID BIGINT PRIMARY KEY,
                            Customer_ID BIGINT NOT NULL,
                            Product_ID BIGINT NOT NULL,
                            Date Timestamp,
                            Quantity INT,
                            Unit_Price NUMERIC(12,2),
                            Total_Cost NUMERIC(14,2),
                            Discount_Rate NUMERIC(5,4),
                            Sales_Channel VARCHAR(1000)


                        );


                        '''
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()

In [276]:
create_tables()

In [ ]:
# customer.printSchema()
# product.printSchema()
# shipping.printSchema()
# transaction_fact.printSchema()

In [278]:
# LOAD DATA TO TABLE
url = "jdbc:postgresql://localhost:5432/nuga_bank_db"
properties = {
    "user" : "postgres",
    "password" : "password",
    "driver" : "org.postgresql.Driver"
}

In [279]:
customer.write.jdbc(url=url, table="customer", mode="append",  properties=properties)
product.write.jdbc(url=url, table="product", mode="append", properties=properties)
shipping.write.jdbc(url=url, table="shipping", mode="append", properties=properties)

In [281]:
transaction_fact_for_db.write.jdbc(url=url, table="transaction_fact", mode="append", properties=properties)
# transaction_fact_for_db.write.jdbc(
#     url=url,
#     table="transaction_fact",
#     mode="append",
#     properties=properties
# )